#!/bin/sh

#numlockx on & # if your keyboard has a numeric keypad
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY
xrandr --auto &
xmodmap ~/.Xmodmap &
export PATH=$PATH:/home/nico/.local/bin/desktop_programs/
export PATH=$PATH:/home/nico/.local/bin/shell/
clipmenud &
dunst &
xcompmgr &
dwm_status &
export _JAVA_AWT_WM_NONREPARENTING=1
export AWT_TOOLKIT=MToolkit
wmname LG3D &
flameshot &
xset r rate 300 50 &
xautolock -time 15 -locker slock &
setbg &
