#!/bin/sh

#numlockx on & # if your keyboard has a numeric keypad
#syncthing -no-browser &
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY
xrandr --auto &
xinput set-button-map "SynPS/2 Synaptics TouchPad" 3 2 1 &
xinput set-button-map "TPPS/2 IBM TrackPoint" 3 2 1 &
export PATH=$PATH:$HOME/.local/bin/desktop_programs/
export PATH=$PATH:$HOME/.local/bin/shell/
clipmenud &
dunst &
#xcompmgr &
picom --config ~/.config/picom.conf &
dwm_status &
export _JAVA_AWT_WM_NONREPARENTING=1
export AWT_TOOLKIT=MToolkit
wmname LG3D &
flameshot &
xset r rate 300 50 &
xss-lock slock &
wpg-run &
